<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <td><a href="{% url 'customer:cselect'%}"><button>Select</button></a></td>
    <td><a href="{% url 'customer:cupdate' data=o.id %}"><button>Update</button></a></td>
    <td><a href="{% url 'customer:cdelete' data=o.id %}"><button>Delete</button></a></td>
</body>
</html>